@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-3xl: 22px;
  --font-size-5xl: 24px;
  --font-size-9xl: 28px;
  --font-size-lg: 18px;

  /* Colors */
  --color-whitesmoke: #f7f7f7;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #787878;
  --color-darkslategray-100: #404040;
  --color-darkslategray-200: #0e4059;
  --color-lightseagreen: #1ea596;

  /* border radiuses */
  --br-5xs: 8px;
  --br-7xs: 6px;
}
